<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Panth_MegaMenu::group"
             title="Mega Menu"
             module="Panth_MegaMenu"
             sortOrder="10"
             parent="Panth_Core::panth_extensions"
             resource="Panth_MegaMenu::menu_items"/>
        <add id="Panth_MegaMenu::manage"
             title="Menu Items"
             module="Panth_MegaMenu"
             sortOrder="10"
             parent="Panth_MegaMenu::group"
             action="panth_menu/menu/index"
             resource="Panth_MegaMenu::menu_items"/>
        <add id="Panth_MegaMenu::settings"
             title="Configuration"
             module="Panth_MegaMenu"
             sortOrder="99"
             parent="Panth_MegaMenu::group"
             action="adminhtml/system_config/edit/section/panth_megamenu"
             resource="Panth_MegaMenu::design_config"/>
    </menu>
</config>
