<?xml version="1.0"?>
<!--
/**
 * Panth Mega Menu Admin Routes Configuration
 *
 * @category  Panth
 * @package   Panth_MegaMenu
 * @author    Panth
 * @copyright Copyright (c) Panth
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="panth_menu" frontName="panth_menu">
            <module name="Panth_MegaMenu" before="Magento_Backend"/>
        </route>
    </router>
</config>
